{% extends './Admin/admin.html.twig' %}
{% block title %}Login!{% endblock %}

{% block body %}
    <div class="container mt-5">
    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputUserName" class="sr-only">userName</label>
        <input type="userName" value="{{ last_username }}" name="userName" id="inputUserName" class="form-control" placeholder="userName" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="_remember_me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
    </div>
{% endblock %}
