{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div style="padding-top: 50px">
        <a href="/" class="btn btn-primary">Retour au site</a>
        <a href="/logout" class="btn btn-danger">se deconnecter</a>
    </div>

    <div id="adminNav" style="padding-top: 50px">
        <a href="/admin/project" class="btn btn-secondary">Mes projets</a>
        <a href="/admin/experience" class="btn btn-secondary">Mes experience</a>
        <a href="/admin/training" class="btn btn-secondary">Mes formation</a>
        <a href="/admin/otherCvInfo" class="btn btn-secondary">Autres informations</a>

    </div>


</div>

{% endblock %}

{% block javascripts %}

{% endblock %}