{% extends './Admin/admin.html.twig' %}
{% block body %}

    <h2>nouvelle experience</h2>

    {{ form_start(form) }}
            <div class="row">
                <div class="col md-4">{{ form_row(form.startDate) }}</div>
                <div class="col md-4">{{ form_row(form.endDate) }}</div>
                <div class="col md-4">{{ form_row(form.company) }}</div>
                <div class="col md-4">{{ form_row(form.job) }}</div>
                <div class="col md-4">{{ form_row(form.place) }}</div>
                <div class="col md-4">{{ form_row(form.description) }}</div>
            </div>

            <button class="btn btn-primary">Sauvgarder</button>
    {{ form_end(form) }}
{% endblock body %}
{% block javascripts %}

{% endblock %}