{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        body{
            padding: 0px;
            margin: 0px;
            width: 800px;

        }
        #main{
            padding-right: 10px;

        }
        p{
            overflow-wrap: normal;
            margin: 2px;
        }
        #identity{
            position: relative;
            margin-bottom: 40px;
        }
        img{
            position: absolute;
            margin-top: 20px;
            margin-right: 20px;

            width: 90px;
            height: 120px;

        }
        #jobfor{
            border-top: 10px groove gray;
            border-bottom: 10px groove gray;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #training{
            border-bottom: 10px groove gray;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #experience{
            border-bottom: 10px groove gray;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #otherInfo{
            border-bottom: 10px groove gray;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        h1{
            text-align: center;
            font-size: 40px;
            margin: 40px;

        }
        h2{
            margin-top: 0px;
        }
        h4{
            margin-bottom: 2px;
        }

    </style>
{% endblock %}
{% block body %}


<div id="main">
    <img src="C:/Users/ben/PhpstormProjects/untitled1/projectFive/assets/img/pictureMeCv.png" alt="picture me">
    <div id="identity">
        <h2>Benjamin Fournié</h2>

        <p>Age: 30 ans</p>
        <p>Adresse: Normandie - Bretagne</p>
        <p>Email: benjaminfournie.web@gmail.com</p>
        <p>Tel: 06.13.66.21.54</p>


    </div>
    <div id="jobfor">
        <h1>Développeur web</h1>
    </div>
    <div id="training">
        <h2>Formations</h2>
        {% for training in training %}
            <h4>De {{ training.starDate|date("Y") }} à {{ training.endDate|date("Y") }} - {{ training.name }} à {{ training.place }}</h4>

            <p>{{ training.description }}</p>


        {% endfor %}




    </div>

    <div id="experience">
        <h2>Expériences professionnelles</h2>

        {% for experience in experience %}
            <h4>De {{ experience.startDate|date("Y") }} à {{ experience.endDate|date("Y") }} - <strong>{{ experience.job }}</strong></h4>

            <p>{{ experience.description }}</p>


        {% endfor %}

    </div>

    <div id="otherInfo">
        <h2>Autres infos</h2>

        {% for otherCvInfo in otherCvInfo %}
        <p>{{ otherCvInfo.item }}</p>

        {% endfor %}


    </div>


</div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
{% endblock %}